# IntelliJ project files
.idea
node_modules

public/*
!public/.gitignore
!public/images
upload

# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes